*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 30, 30);
    color: white;
}


.wygenerowane{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#checkboxContainer{
    border: 1px white solid;
    margin: 15px;
}
input[type="checkbox"]{
    appearance: none; 
    padding: 10px;
    margin: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    cursor: pointer;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}

input[type="checkbox"]:checked {
    background-color: rgb(117, 117, 45);
}
.generuj{
    background-color: rgb(117, 117, 45);
}